<div class="row">
    <div class="col-md-1 col-lg-1"></div>
    <div class="col-md-10 col-lg-10">
      <div class="card">
        <div class="card-body" >
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4" style="text-align: center;">
                    <img [src]="artesano?.imagen" class="img-responsive" alt>

                    <!-- CARRUSEL
                    <ngb-carousel style="width: 100%; height: 300px">
                        <ng-template ngbSlide >
                            <img src="assets/images/users/4.jpg" alt="Random first slide" style="height: 300px">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/users/5.jpg" alt="Random second slide" style="height: 300px">

                        </ng-template>
                        <ng-template ngbSlide>
                            <img src="assets/images/users/6.jpg" alt="Random third slide" style="height: 300px">

                        </ng-template>
                    </ngb-carousel>-->


                    <!-- CARRUSEL-->

                    <div class="form-group label-font mt-4">
                        <label>Nombre:</label>
                        <strong>&nbsp;{{artesano?.apellido}}, {{artesano?.nombre}}</strong>
                    </div>
                    <div class="form-group label-font">
                        <label>D.N.I.:</label>
                        <strong>&nbsp;{{artesano?.dni}}</strong>
                    </div>
                </div>

                <div class="col-sm-12 col-md-5 col-lg-5">
                    <div class="form-group label-font">
                        <label>Rol:</label>
                        <strong>&nbsp;{{artesano?.rol}}</strong>
                    </div>

                    <div class="form-group label-font">
                        <label>Biografía:</label>
                        <strong>&nbsp;{{artesano?.biografia}}</strong>
                    </div>

                    <div class="form-group label-font">
                        <label>Idiomas:</label>
                        <strong>
                            <div *ngFor="let idioma of artesano?.idiomas" class="ml-4">
                                <p>{{idioma?.nombre}}</p>
                            </div>
                        </strong>
                    </div>

                    <div class="form-group label-font">
                        <label>Experiencias:</label>
                        <strong>{{artesano?.experiencias}}</strong>
                    </div>

                    <div class="form-group label-font" *ngIf="artesano?.reel">
                        <label>URL del Reel de YouTube:</label>
                        <strong>&nbsp;<a [href]="artesano?.reel" target="_blank">{{artesano?.reel}}</a></strong>
                    </div>

                    <div class="form-group label-font" *ngIf="artesano?.galeria">
                        <label>URL de la Galería de Fotos:</label>
                        <strong>&nbsp;<a [href]="artesano?.galeria" target="_blank">{{artesano?.galeria}}</a></strong>
                    </div>

                    <div class="form-group label-font">
                        <label>Curriculum Vitae/Portfolio:</label>
                        <strong>{{artesano?.curriculum}}</strong>
                    </div>

                    <div class="form-group label-font overflowtext">
                        <label>Redes:</label>
                        <strong>
                            <div *ngFor="let red of artesano.redes" class="ml-4">
                                <p>
                                    <i class="mdi border mr-2" [ngClass]="getClass(red) | lowercase"></i>
                                    <a [href]="red?.url" target="_blank">{{red?.url}}</a>
                                </p>
                            </div>
                        </strong>
                    </div>

                    <div class="form-group label-font">
                        <label>Etiquetas:</label>
                        <strong>
                            <span class="badge badge-primary mx-1" *ngFor="let tag of artesano.tags">
                                {{tag.nombre}}
                            </span>
                        </strong>
                    </div>

                    <div class="form-group label-font">
                        <label>Dirección:</label>
                        <strong>
                            {{artesano?.direccion?.calle}} {{artesano?.direccion?.numero}}, {{localidad?.nombre}}, {{provincia?.nombre}}, {{artesano?.direccion?.cp}}
                        </strong>
                    </div>
                </div>

                <div class="col-sm-12 col-md-3 col-lg-3 info">
                    <div class="form-group label-font">
                        <label>Teléfono:</label>
                        <strong>&nbsp;{{artesano?.telefono}}</strong>
                    </div>
                    <div class="form-group label-font mt-4">
                        <label>E-Mail:</label>
                        <strong>&nbsp;{{artesano?.email}}</strong>
                    </div>
                    <div class="form-group label-font mt-4">
                        <label>Fecha de nacimiento:</label>
                        <strong>&nbsp;{{artesano?.fecha_nacimiento }}</strong>
                    </div>
                </div>

            </div>


        </div>
      </div>
    </div>
</div>

