.label-font{
    font-size: 14px;
    margin-bottom: 10px !important;
}
.ml{
    padding-left: 50px;
}

.card{
    opacity: 1;
}

.row{
    line-height: 1;
}

.border{
    border: 1px solid gray !important;
    border-radius: 5px;
}

.img-responsive{
    width: auto;
    max-width: 100%;
    max-height: 285px;
}

.info{
    margin-top: 10%;
    border-left: 2px solid var(--danger);
    height: 0%;
}

.overflowtext{
    width: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}