    <div class="home d-flex flex-column align-items-center justify-content-center">
    <div class="search-full">
    <div class="d-flex flex-row">
      <div class="title">Contactá al talento que buscás</div>
    </div>
    <section class="search-sec">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <ng-select [(ngModel)]="provincia" class="custom round-l" [multiple]="false" placeholder="Provincia" [addTag]="false" (change)="getLocalidades()">
                                <ng-option *ngFor="let p of provincias_list" [value]="p.id">{{p.nombre}}</ng-option>
                            </ng-select>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-12 p-0">
                            <ng-select [(ngModel)]="localidad" class="custom" [multiple]="false" placeholder="Localidad" [addTag]="false">
                                <ng-option *ngFor="let l of localidades_list" [value]="l.id">{{l.nombre}}</ng-option>
                            </ng-select>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-12 p-0">
                            <ng-select [(ngModel)]="tags" class="custom multiple" [multiple]="true" placeholder="Etiquetas" [addTag]="false"  >
                                <ng-option *ngFor="let tag of tags_list" [value]="tag.id">{{tag.nombre}}</ng-option>
                            </ng-select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-12 p-0">
                            <button type="button" class="btn btn-primary wrn-btn round-r" (click)="goToResults()">Buscar</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer mt-2 d-flex align-items-center justify-content-start">
                <div class="footer-texto">Popular:</div>
                <div class="footer-tags">
                    <button class="btn btn-primary btn-sm ml-2 border-rounded" (click)="addTag(tag)" *ngFor="let tag of tags_list | slice:0:5">
                        #{{tag.nombre}}
                    </button>
                </div>
            </div>
        </div>
    </section>
  </div>
</div>
