.home {
  height: calc(100vh - 94px);
}
.search-full {
  background-color: rgba(0,0,0,0.4);
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 35px;
  flex-direction: column;
}
.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(3rem + 2px) !important;
    border-radius:0;
}
.wrn-btn{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
    height: 50px !important;
    border-radius:0;
}
section {
  width: 100%;
}

.title{
  font-family: "Hanken",sans-serif;
  font-size: 65px;
  font-weight: 550;
  z-index: 2;
  color:#FFF;
  margin-bottom: 30px;
  line-height: 65px;
  text-align: center;
}

@media (min-width: 992px){
    .ng-select.round-l ::ng-deep .ng-select-container  {
        border-top-left-radius: 20px !important;
        border-bottom-left-radius: 20px !important;
    }
    .round-r {
        border-top-right-radius: 20px !important;
        border-bottom-right-radius: 20px !important;
    }
}

@media (max-width: 992px){
    .title {
      font-size: 45px;
      line-height: 50px;
    }
    .ng-select ::ng-deep .ng-select-container  {
        margin-bottom: 10px;
    }
    .round-r {
        border-radius: 60px;
    }
    .footer-tags button {
      margin-bottom: 5px;
    }
}

@media (max-width: 575px){
  .title {
    font-size: 40px;
    line-height: 45px;
  }
}

.padding-0 {
    padding: 0px !important;
    padding-top: 8px !important;
}

.footer{
    font-family: "Hanken",sans-serif;
    text-align: left;
    z-index: 2;
}
.footer-tags {
z-index: 2;
}

.footer-texto{
    font-size: 20px;
    z-index: 2;
}
.footer-tags-item{
    font-size: 16px;
    margin-left: 10px;
}

.ng-select.custom ::ng-deep .ng-select-container  {
    height: 50px;
}

::ng-deep .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
  top: 14px !important;
  padding: 0;
}

:host ::ng-deep ng-select.ng-select-container.ng-value-container.ng-placeholder.multiple {
    margin-top:13px !important;
}

.ng-value::ng-deep{
    background-color: var(--danger) !important;
}

.border-rounded{
    border-radius: 25px;
}
