.search-slt{
    display: block;
    width: 100%;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #55595c;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    height: calc(2rem + 4px ) !important;
    border-radius:0;
}

.card {
  overflow-y: visible;
  max-height: calc(100vh - 130px);
  overflow: auto;
}

.card-header {
  background-color: #660a78 !important;
  color: #FFF !important;
}

label {
   font-weight: bold;
}

.not-bold {
  font-weight: normal !important;
}
.padding-0 {
    padding: 0px !important;
}

.ng-select.custom ::ng-deep .ng-select-container  {
    min-height: 35px;
    border-radius: 0;
}

.ng-value::ng-deep{
    background-color: var(--danger) !important;
}

.marco{
    border: 1px solid #aaaaaa;
    border-radius: 2px;
    padding: 15px;
    margin-bottom: 15px;
}

[type="file"] {
    display:none;
}

.form-control{
    color: black;
}
