<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-8">
      <div class="card">
        <div class="card-header bg-white border-0">
          <h1 class="mb-0">Perfil
            <a type="button" class="close close-button float-right" style="margin-right: 5px;" aria-label="Close" (click)="goToHome()">
                <span aria-hidden="true">&times;</span>
            </a>
          </h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3">
                  <label>Nombre</label>
                  <input type="text" class="form-control" [(ngModel)]="artista.nombre">
                </div>
                <div class="col-md-6 mb-3">
                  <label>Apellido</label>
                  <input type="text" class="form-control" [(ngModel)]="artista.apellido">
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>D.N.I.</label>
                    <input type="text" class="form-control" [(ngModel)]="artista.dni" mask="00.000.000" placeholder="99.999.999">
                </div>
                <div class="col-md-6 mb-3">
                    <label>Fecha de Nacimiento</label>
                    <div class="input-group">
                        <input
                            type="text"
                            [(bsValue)]="artista.fecha_nacimiento"
                            value="{{ artista.fecha_nacimiento | date: 'dd/MM/yyyy' }}"
                            class="form-control"
                            #dp="bsDatepicker"
                            bsDatepicker
                            placeholder="dd/mm/yyyy"
                            [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default' }">

                        <button class="btn btn-primary" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Teléfono</label>
                    <input type="text" class="form-control" [(ngModel)]="artista.telefono" mask="+00 (0000) 0000000" placeholder="+54 (0341) 5325144" >
                </div>
                <div class="col-md-6 mb-3">
                    <label>E-Mail</label>
                    <div class="input-group">
                        <input type="email" class="form-control" [(ngModel)]="artista.email" disabled>
                        <button class="btn btn-danger" (click)="verificarEmail()" *ngIf="!user?.emailVerified">
                            Verificar
                        </button>
                    </div>


                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Password</label>
                    <show-hide-password  btnStyle="primary" [btnOutline]="false">
                        <input type="password" class="form-control" [(ngModel)]="artista.password">
                    </show-hide-password>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Repetir Password</label>
                    <show-hide-password  btnStyle="primary" [btnOutline]="false">
                        <input type="password" class="form-control" [(ngModel)]="re_password">
                    </show-hide-password>
                </div>
            </div>

            <h2>Dirección</h2>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Calle</label>
                    <input maxlength="50" type="text" class="form-control" [(ngModel)]="artista.direccion.calle">
                </div>
                <div class="col-md-3 mb-3">
                    <label>Número</label>
                    <input maxlength="10" type="text" class="form-control" [(ngModel)]="artista.direccion.numero">
                </div>
                <div class="col-md-3 mb-3">
                    <label>C.P.</label>
                    <input maxlength="10" type="text" class="form-control" [(ngModel)]="artista.direccion.cp">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Provincia</label>
                    <ng-select [(ngModel)]="artista.direccion.provincia_id" class="custom" [multiple]="false" [addTag]="false" (change)="getLocalidades()">
                        <ng-option *ngFor="let p of provincias_list" [value]="p.id">{{p.nombre}}</ng-option>
                    </ng-select>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Localidad</label>
                    <ng-select [(ngModel)]="artista.direccion.localidad_id" class="custom" [multiple]="false" [addTag]="false" >
                        <ng-option *ngFor="let l of localidades_list" [value]="l.id">{{l.nombre}}</ng-option>
                    </ng-select>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col-md-12">
                    <p>
                        Para ubicarte en el mapa, necesitamos que ingreses tu dirección <a target="_blank" href="https://www.mapcoordinates.net/es">acá</a> y copies las coordenadas debajo. Esto no implica ningún seguimiento de tu localización.
                    </p>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col-md-3">
                    <label>Latitud</label>
                    <input type="number" maxlength="11" class="form-control" [(ngModel)]="artista.direccion.lat">
                </div>
                <div class="col-md-3">
                    <label>Longitud</label>
                    <input type="number" maxlength="11" class="form-control" [(ngModel)]="artista.direccion.lon">
                </div>
            </div>

            <h2>Sobre mí</h2>
            <div class="row mb-4">
              <div class="col-md-12">
                  <label>Imágenes del perfil</label>
                  <p>Para cargar nuevas imágenes, presioná "Seleccionar imágen" y podrás recortarla para agregarla a tu perfil.</p>
                  <div class="row">
                    <div class="col-md-5">
                        <ngb-carousel alt="Preview" class="d-block" style="min-height: 300px; background-color: rgb(200, 200, 200); text-align: center; display: table-cell; vertical-align: middle;">
                            <ng-template ngbSlide *ngFor="let imagen of carousel" >
                                <img [src]="imagen" class="w-100">
                            </ng-template>
                        </ngb-carousel>

                    </div>
                    <div class="col-md-7">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="d-flex w-100 align-items-center justify-content-between my-2">
                            <input type="file" #fileUpload id="fileUpload" accept="image/png, image/jpeg" (change)="fileChangeEvent($event)" />
                            <label for="fileUpload" id="fileUpload" class="not-bold btn btn-primary mb-0 btn-rounded">Seleccionar nueva imágen</label>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-12">
                          <div class="row">
                            <div class="col-md-9">
                              <image-cropper
                                [imageChangedEvent]="imageChangedEvent"
                                [maintainAspectRatio]="true"
                                [aspectRatio]="1 / 1"
                                format="jpg"
                                (imageCropped)="imageCropped($event)"
                                (imageLoaded)="imageLoaded()"
                                (cropperReady)="cropperReady()"
                                (loadImageFailed)="loadImageFailed()"
                                ></image-cropper>
                                <button *ngIf="croppedImage" class="btn btn-primary btn-rounded mt-2" (click)="addImage(croppedImage)">Agregar a galería de imágenes</button>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                          <label>Biografía (Contá tu experiencia de forma resumida. Máximo 600 caracteres. Debajo podés adjuntar tu curriculum si querés extenderte más.)</label>
                          <textarea type="text" class="form-control" [(ngModel)]="artista.biografia" rows="16" maxlength="600"></textarea>
                        </div>
                    </div>

                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col-md-12">
                    <label>Seleccionar Idiomas</label>
                    <ng-select [multiple]="true" [(ngModel)]="idiomas" class="custom">
                        <ng-option *ngFor="let idioma of idiomas_list" [value]="idioma.id">{{idioma.nombre}}</ng-option>
                    </ng-select>
                </div>
            </div>


            <div class="row">
              <div class="col-md-12">
                <label>Curriculum Vitae / Portfolio</label>
              </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8">
                    <input [(ngModel)]="artista.curriculum" class="" type="file" id="cvUpload" #cvUpload accept=".xlsx,.xls,.pdf" (change)="changeCVFile(cvUpload)">
                    <label for="cvUpload" class="not-bold btn btn-primary btn-rounded" style="margin: 0px;">Subir Curriculum Vitae</label>
                    <button class="btn btn-danger ml-3 btn-rounded" (click)="deleteCVFile()" >Borrar</button>
                    <label class="mt-3">{{artista.curriculum}}</label>
                </div>
                <div class="col-md-1">
                    <div class="spinner-border text-primary" role="status" *ngIf="uploadingCV">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col-md-12">
                    <label>Definite como quieras (Actor, Danza, Pelirrojo, etc.)</label>
                    <ng-select [(ngModel)]="tags" class="custom" [multiple]="true" [addTag]="true" (change)="changeTags($event)">
                        <ng-option *ngFor="let t of tags_list" [value]="t.id">{{t.nombre}}</ng-option>
                    </ng-select>
                </div>
            </div>

            <div class="mb-3">
              <h2 class="mb-2">Redes sociales / Sitios personales</h2>
              <div class="row mb-3 d-none">
                  <div class="col-md-4">
                      <label>Plataforma</label>
                  </div>
                  <div class="col-md-6">
                      <label>URL o Link</label>
                  </div>
                  <div class="col-md-2">
                  </div>
              </div>
              <div class="form-row mb-3">
                <div class="col-5 col-md-4">
                    <ng-select [(ngModel)]="red" class="custom" [multiple]="false" [addTag]="false" placeholder="Seleccione plataforma">
                        <ng-option selected disabled>Seleccione plataforma</ng-option>
                        <ng-option *ngFor="let r of redes_list" [value]="r">{{r.nombre}}</ng-option>
                    </ng-select>
                </div>
                <div class="col-6 col-md-6">
                    <input type="text" class="form-control" placeholder="URL o Link" [(ngModel)]="url_red" required>
                </div>
                <div class="col-1 col-md-2">
                    <button class="btn btn-primary btn-rounded" (click)="addRedSocial()"><i class="fa fa-plus"></i></button>
                </div>
            </div>
              <div class="form-row mb-3" *ngFor="let r of artista.redes">
                  <div class="col-4 col-md-4 d-flex align-items-center">
                      <strong>{{ r.nombre }}</strong>
                  </div>
                  <div class="col-6 col-md-6 d-flex align-items-center">
                      <a [href]="r.url" target="_blank">{{r.url}}</a>
                  </div>
                  <div class="col-2 col-md-2">
                      <button class="btn btn-primary btn-rounded" (click)="removeRedSocial(r)"><i class="fa fa-minus"></i></button>
                  </div>
              </div>
          </div>

            <!--
            <div class="form-row mb-3">
                <div class="col-md-12">
                  <label>Rol</label>
                  <textarea type="text" class="form-control" [(ngModel)]="artista.rol" rows="4" ></textarea>
                </div>
            </div>


            <div class="form-row mb-3">
                <div class="col-md-12">
                  <label>URL del Reel de YouTube</label>
                  <input type="text" class="form-control" [(ngModel)]="artista.reel">
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col-md-12">
                  <label>URL de la Galería de Fotos</label>
                  <input type="text" class="form-control" [(ngModel)]="artista.galeria">
                </div>
            </div>
            -->
            <!--
            <div class="marco mb-3" >
                <h2>Imágenes del perfil</h2>
                <div class="form-row mb-5" style="display: flex; align-items: center;">
                    <div class="col-md-4" style="text-align: center;">
                        <input class="" type="file" id="fileUpload" #fileUpload accept="image/png, image/jpeg" (change)="changeFile(fileUpload)" multiple>
                        <label for="fileUpload" class="btn btn-primary" style="margin-top: 8px;">Subir Imágenes</label>
                        <button class="btn btn-danger" (click)="deleteFiles()" >Borrar</button>
                    </div>
                    <div class="col-md-2">
                        <div class="spinner-border text-primary" role="status" *ngIf="uploading">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                    <div class="col-md-4" style="display: table;">

                        <ngb-carousel style="height: 375px; background-color: rgb(200, 200, 200); text-align: center; display: table-cell; vertical-align: middle;">
                            <ng-template ngbSlide *ngFor="let imagen of artista.imagenes" >
                                <img [src]="imagen" style="width: 100%; ">
                            </ng-template>
                        </ngb-carousel>
                    </div>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col-md-12">
                  <label>Biografía</label>
                  <textarea type="text" class="form-control" [(ngModel)]="artista.biografia" rows="4"></textarea>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col-md-12">
                  <label>Experiencia</label>
                  <textarea type="text" class="form-control" [(ngModel)]="artista.experiencias" rows="4"></textarea>
                </div>
            </div>

            <div class="marco mb-3">
                <h2>Dirección</h2>
                <div class="form-row mb-3">
                    <div class="col-md-6">
                        <label>Calle</label>
                        <input type="text" class="form-control" [(ngModel)]="artista.direccion.calle">
                    </div>
                    <div class="col-md-3">
                        <label>Número</label>
                        <input type="text" class="form-control" [(ngModel)]="artista.direccion.numero">
                    </div>
                    <div class="col-md-3">
                        <label>C.P.</label>
                        <input type="text" class="form-control" [(ngModel)]="artista.direccion.cp">
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-md-4">
                        <label>Provincia</label>
                        <ng-select [(ngModel)]="artista.direccion.provincia_id" class="custom" [multiple]="false" [addTag]="false" (change)="getLocalidades()">
                            <ng-option *ngFor="let p of provincias_list" [value]="p.id">{{p.nombre}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-md-4">
                        <label>Localidad</label>
                        <ng-select [(ngModel)]="artista.direccion.localidad_id" class="custom" [multiple]="false" [addTag]="false" >
                            <ng-option *ngFor="let l of localidades_list" [value]="l.id">{{l.nombre}}</ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="form-row mb-3">
                    <div class="col-md-4">
                        <label>Latitud</label>
                        <input type="text" class="form-control" [(ngModel)]="artista.direccion.lat">
                    </div>
                    <div class="col-md-4">
                        <label>Longitud</label>
                        <input type="text" class="form-control" [(ngModel)]="artista.direccion.lon">
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col-md-12">
                        <p>
                            Para ubicarte en el mapa, necesitamos georeferenciar tu dirección. Para obtener las coordenadas, clickea <a target="_blank" href="https://www.mapcoordinates.net/es">acá</a>
                        </p>
                    </div>
                </div>

            </div>

            <div class="form-row mb-3">
                <div class="col-md-12">
                    <label>Seleccionar Idiomas</label>
                    <ng-select [multiple]="true" [(ngModel)]="idiomas" class="custom">
                        <ng-option *ngFor="let idioma of idiomas_list" [value]="idioma.id">{{idioma.nombre}}</ng-option>
                    </ng-select>
                </div>
            </div>

            <div class="form-row mb-1">
                <div class="col-md-4">
                    <label>Curriculum Vitae/Portfolio</label>
                </div>
            </div>
            <div class="form-row mb-3">
                <div class="col-md-3">
                    <input [(ngModel)]="artista.curriculum" class="" type="file" id="cvUpload" #cvUpload accept=".xlsx,.xls,.pdf" (change)="changeCVFile(cvUpload)">
                    <label for="cvUpload" class="btn btn-primary" style="margin: 0px;">Subir Curriculum Vitae</label>
                    <button class="btn btn-danger" (click)="deleteCVFile()" >Borrar</button>
                </div>
                <div class="col-md-1">
                    <div class="spinner-border text-primary" role="status" *ngIf="uploadingCV">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col-md-12">
                    <label><a [href]="artista.curriculum" target="_blank" >{{artista.curriculum}}</a></label>
                </div>
            </div>

            <div class="marco mb-3">
                <h2>Redes Sociales</h2>
                <div class="form-row mb-3">
                    <div class="col-md-4">
                        <label>Red Social</label>
                    </div>
                    <div class="col-md-6">
                        <label>URL</label>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>

                <div class="form-row mb-3" *ngFor="let r of artista.redes">
                    <div class="col-md-4">
                        <strong>{{ r.nombre }}</strong>
                    </div>
                    <div class="col-md-6">
                        <a [href]="r.url" target="_blank">{{r.url}}</a>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" (click)="removeRedSocial(r)"><i class="fa fa-minus"></i></button>
                    </div>
                </div>

                <div class="form-row mb-3">
                    <div class="col-md-4">
                        <ng-select [(ngModel)]="red" class="custom" [multiple]="false" [addTag]="false">
                            <ng-option *ngFor="let r of redes_list" [value]="r">{{r.nombre}}</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" [(ngModel)]="url_red" required>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-primary" (click)="addRedSocial()"><i class="fa fa-plus"></i></button>
                    </div>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col-md-12">
                    <label>Seleccionar Etiquetas</label>
                    <ng-select [(ngModel)]="tags" class="custom" [multiple]="true" [addTag]="true" (change)="changeTags($event)">
                        <ng-option *ngFor="let t of tags_list" [value]="t.id">{{t.nombre}}</ng-option>
                    </ng-select>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col-md-12">
                  <label>Rol</label>
                  <textarea type="text" class="form-control" [(ngModel)]="artista.rol" rows="4" ></textarea>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col-md-12">
                  <label>URL del Reel de YouTube</label>
                  <input type="text" class="form-control" [(ngModel)]="artista.reel">
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col-md-12">
                  <label>URL de la Galería de Fotos</label>
                  <input type="text" class="form-control" [(ngModel)]="artista.galeria">
                </div>
            </div>
            -->
            <div class="w-100 d-flex align-items-center justify-content-center" *ngIf="uploading">
             <!-- <app-spinner></app-spinner>-->
            </div>



        </div>
        <div class="card-footer">
            <button class="btn btn-danger ml-3 float-right btn-rounded" (click)="goToHome()">Cancelar</button>
            <button class="btn btn-primary float-right btn-rounded" (click)="actualizar()">Actualizar</button>

        </div>
      </div>
    </div>
  </div>
