<ul class="navbar-nav float-right" >
  <li class="m-r-20" *ngIf="user" style="color: white; margin-top: 20px; font-size: 15px;">
    {{user?.email}}
  </li>
  <li class="nav-item m-r-20" *ngIf="!user">
    <button (click)="open(login)" class="btn btn-rounded btn-block btn-outline-primary bg-white sign-in">Ingresar</button>
  </li>
  <li class="nav-item m-r-20" *ngIf="!user">
    <button (click)="register()" class="btn btn-rounded btn-block btn-primary register">Registrate</button>
  </li>

  <li class="nav-item dropdown" ngbDropdown placement="bottom-right" *ngIf="user">
    <a ngbDropdownToggle class="nav-link dropdown-toggle text-muted waves-effect waves-dark pro-pic" href="javascript:void(0)" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <img [src]="imagen" alt="avatar" class="rounded-circle" width="40"/>
    </a>
    <div class="dropdown-menu user-dd" ngbDropdownMenu>
      <a class="dropdown-item mt-3" href="javascript:void(0)" (click)="goToMyProfile()" *ngIf="artista?.perfil===0">
        <i class="ti-user m-r-5 m-l-5"></i> Mi Perfil
      </a>

      <a class="dropdown-item mt-3" href="javascript:void(0)" (click)="goToValidador()" *ngIf="artista?.perfil===1">
        <i class="ti-user m-r-5 m-l-5"></i> Validador
      </a>

      <div class="dropdown-divider"></div>

      <a class="dropdown-item" href="javascript:void(0)" (click)="logout()">
        <i class="fa fa-power-off m-r-5 m-l-5"></i> Logout
      </a>
    </div>
  </li>
</ul>

<ng-template #login let-modal>
  <div class="modal-header" >
    <h4 class="modal-title">LOGIN</h4>
    <a type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </a>
  </div>
  <div class="modal-body">
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group">
          <input type="email" class="form-control" placeholder="jlennon@gmail.com" [(ngModel)]="email">
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <div class="input-group">
          <input type="password" class="form-control" [(ngModel)]="password" (keyup.enter)="modal.close()">
        </div>
      </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-rounded btn-block btn-primary" (click)="modal.close()">Login</button>
  </div>
</ng-template>
