<div class="results">
<section class="search-sec w-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-12 p-0">
                <ng-select  [(ngModel)]="provincia" class="custom round-l" [multiple]="false" placeholder="Provincia" [addTag]="false" (change)="getLocalidades()">
                    <ng-option *ngFor="let p of provincias_list" [value]="p.id">{{p.nombre}}</ng-option>
                </ng-select>
            </div>
            <div class="col-lg-4 col-md-4 col-12 p-0">
                <ng-select [(ngModel)]="localidad" class="custom" [multiple]="false" placeholder="Localidad" [addTag]="false">
                    <ng-option *ngFor="let l of localidades_list" [value]="l.id">{{l.nombre}}</ng-option>
                </ng-select>
            </div>
            <div class="col-lg-3 col-md-3 col-12 p-0">
                <ng-select [multiple]="true" [(ngModel)]="tags" class="custom" >
                    <ng-option *ngFor="let tag of tags_list" [value]="tag.id">{{tag.nombre}}</ng-option>
                </ng-select>
            </div>
            <div class="col-lg-2 col-md-2 col-12 p-0">
                <button type="button" class="btn btn-primary wrn-btn round-r" (click)="goToResults()">Buscar</button>
            </div>
        </div>
    </div>
</section>

<div class="row">
    <div class="col-lg-12 col-md-12 col-12 p-3">
        <div class="card">
            <div class="card-body card-body-style">
                    <google-map
                        height="100%"
                        width="100%"
                        [center]="center"
                        [zoom]="zoom">
                        <map-marker #marker="mapMarker" *ngFor="let m of marcadores"
                            [position]="m.position"
                            [options]="option"
                            [title]="m.title"
                            (mapClick)="openInfo(marker, m.description, m.email)">
                        </map-marker>
                        <map-info-window>
                            <div class="scrollFix">
                                <div class="row"  >
                                    <div class="col-md-5" style="text-align: center;">
                                        <img [src]="detalle?.imagen" style="max-width: 100%; max-height: 160px;">
                                    </div>
                                    <div class="col-md-7">
                                        <h3><b>{{detalle.title}}</b></h3>
                                        <p [innerHTML]="detalle.info" ></p>
                                        <button class="btn btn btn-primary" (click)="goToDetail(detalle.email, profile)" style="margin-top: 15px;">Ver Perfil</button>
                                    </div>
                                </div>
                            </div>
                        </map-info-window>
                    </google-map>
            </div>
        </div>
    </div>
</div>
</div>
<ng-template #profile let-modal>
    <div class="modal-body m-3">
        <a type="button" class="close close-button" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </a>
        <div class="row">
            <div class="col-md-12">
                <h2>{{artesano?.apellido}}, {{artesano?.nombre}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group label-font">
                    <h3>
                        <span *ngFor="let tag of artesano.tags" class="badge badge-pill badge-primary ml-1 mt-1" >
                            #{{tag.nombre}}
                        </span>
                    </h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6 col-lg-6" style="text-align: center;">
                <div style="display: table; width: 100%; ">
                    <ngb-carousel style="height: 300px; text-align: center; display: table-cell; vertical-align: middle;">
                        <ng-template ngbSlide *ngFor="let imagen of artesano.imagenes" >
                            <img [src]="imagen" style="width: auto;max-width: 300px; max-height: 300px; height: 100%;">
                        </ng-template>
                    </ngb-carousel>
                </div>
            </div>

            <div class="col-12 col-lg-6 col-lg-6 mt-2">

                <div class="form-group label-font">
                    <label>Teléfono:</label>
                    <strong>&nbsp;{{artesano?.telefono}}</strong>
                </div>
                <div class="form-group label-font">
                    <label>E-Mail:</label>
                    <strong>&nbsp;{{artesano?.email}}</strong>
                </div>
                <div class="form-group label-font">
                    <label>Fecha de nacimiento:</label>
                    <strong>&nbsp;{{artesano?.fecha_nacimiento | date: 'dd/MM/yyyy' }}</strong>
                </div>
                <div class="form-group label-font">
                    <label>Dirección:</label>
                    <strong>
                        {{artesano?.direccion?.calle}} {{artesano?.direccion?.numero}}, {{artista_localidad?.nombre}}, {{artista_provincia?.nombre}}, {{artesano?.direccion?.cp}}
                    </strong>
                </div>
                <div class="form-group label-font">
                    <label>Idiomas:</label>
                    <strong *ngFor="let idioma of artesano?.idiomas; index as i" class="ml-1">
                        {{idioma?.nombre}}<i *ngIf="(i + 1)!=artesano.idiomas.length" >,&nbsp;</i>
                    </strong>
                </div>
                <div class="form-group label-font overflowtext">
                    <strong *ngFor="let red of artesano.redes" class="ml-1">
                        <a [href]="red?.url" target="_blank" class="mr-3">
                            <i style="font-size: 30px" class="icono" [ngClass]="getClass(red) | lowercase"></i>
                        </a>
                    </strong>
                </div>

            </div>

        </div>

        <div class="row mt-3">
            <div class="col-12 col-md-12 col-lg-12">
                {{artesano?.biografia}}
            </div>
        </div>

        <div class="row mt-3" *ngIf="artesano.curriculum">
            <div class="col-12 col-md-12 col-lg-12">
                <a  [href]="artesano?.curriculum" target="_blank">Curriculum Vitae <i class="fa fa-download"></i></a>
            </div>
        </div>

    </div>

</ng-template>

<ng-template #result let-modal>
    <div class="modal-body m-3">
        <a type="button" class="close close-button" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </a>
        <div class="row">
            <div class="col-md-12">
                <h2>La búsqueda realizada no tiene resultados.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <button class="btn btn-primary float-right" (click)="modal.dismiss('Cross click')">Aceptar</button>
            </div>
        </div>
    </div>

</ng-template>
