.results {
	height: calc(100vh - 94px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.search-sec {
	padding: 0px;
}
.wrn-btn {
	width: 100%;
	font-size: 16px;
	font-weight: 400;
	text-transform: capitalize;
	height: 50px !important;
	border-radius: 0;
}
.padding-0 {
	padding: 0px !important;
	padding-top: 8px !important;
}
.card-body-style {
	height: calc(100vh - 260px);
	width: 100vw;
	margin-bottom: 0px;
	padding: 10px;
}
.scrollFix {
	width: 95%;
}
.ng-select.custom {
	&::ng-deep {
		.ng-select-container {
			height: 50px;
			border-radius: 0;
		}
	}
}
.ng-value {
	&::ng-deep {
		background-color: var(--primary) !important;
	}
}
.img-responsive {
	width: auto;
	max-width: 100%;
	max-height: 285px;
}
.info {
	margin-top: 10%;
	border-left: 2px solid var(--primary);
	height: 0%;
}
.overflowtext {
	width: auto;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.gm-style.border-rounded {
	&::ng-deep {
		border-radius: 10px !important;
		border: 1px solid #ccc;
	}
}
.close-button {
	position: absolute;
	top: -10px;
	right: -5px;
}
.icono {
	width: 25px !important;
}
.card {
	margin-bottom: 0px !important;
}
::ng-deep .modal-content {
  overflow-y: visible;
  max-height: calc(100vh - 130px);
  overflow: auto;
}
@media (min-width: 992px) {
	.search-sec {
		margin-top: 0px;
	}
	.ng-select.round-l {
		&::ng-deep {
			.ng-select-container {
				border-top-left-radius: 20px !important;
				border-bottom-left-radius: 20px !important;
			}
		}
	}
	.round-r {
		border-top-right-radius: 20px !important;
		border-bottom-right-radius: 20px !important;
	}
}
@media (max-width: 992px) {
	.search-sec {
		margin-top: 5px !important;
		margin-bottom: 5px;
  }
  .ng-select.round-l ::ng-deep .ng-select-container  {
    border-top-left-radius: 20px !important;
    border-bottom-left-radius: 20px !important;
  }
  .round-r {
      border-top-right-radius: 20px !important;
      border-bottom-right-radius: 20px !important;
  }
}
