.image{
    background-image: url("../../../assets/images/big/img4.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.overlay {
  height: 100vh;
  z-index: 0;
  //background-color: #484448;
  background-color: rgba(255,255,255,0.2);
  position: absolute;
  top: 0;
  width: 100%;
}
.contenedor{
    height: 100vh;
}

.container-fluid{
    z-index: 2;
    padding-top: 0px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0px;
    height: calc(100vh - 94px);
}

.custom-footer{
  z-index: 1;
    padding: 7px;
    position: relative;
    bottom: 0;
    background-color: #660a78;
    a {
      color: #555;
    }
}
