<div class="row justify-content-md-center">
    <div class="col-md-8 col-lg-8">
      <div class="card">
        <div class="card-header bg-white border-0">
          <h1 class="mb-0">Registración
            <a type="button" class="close close-button float-right" style="margin-right: 5px;" aria-label="Close" (click)="goToHome()">
                <span aria-hidden="true">&times;</span>
            </a>
          </h1>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-6 mb-3">
              <label>Nombre</label>
              <input type="text" class="form-control" [(ngModel)]="artista.nombre">
            </div>
            <div class="col-md-6 mb-3">
              <label>Apellido</label>
              <input type="text" class="form-control" [(ngModel)]="artista.apellido">
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-3">
                <label>D.N.I.</label>
                <input type="text" class="form-control" [(ngModel)]="artista.dni" mask="00.000.000" placeholder="99.999.999">
            </div>
            <div class="col-md-6 mb-3">
                <label>Fecha de Nacimiento</label>
                <!--<input type="date" class="form-control" [(ngModel)]="artista.fecha_nacimiento">-->

                <div class="input-group">
                    <!--<input
                        type="text"
                        class="form-control"
                        ngbDatepicker
                        #d="ngbDatepicker"
                        [(ngModel)]="artista.fecha_nacimiento"
                        [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"/>
                    <button (click)="d.toggle()" class="btn btn-outline-primary" >
                        <i class="fa fa-calendar"></i>
                    </button>-->

                        <input
                          [(ngModel)]="artista.fecha_nacimiento"
                          class="form-control"
                          #dp="bsDatepicker"
                          bsDatepicker
                          placeholder="dd/mm/yyyy"
                          [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY', containerClass: 'theme-default' }">

                        <button class="btn btn-primary" (click)="dp.toggle()" [attr.aria-expanded]="dp.isOpen" type="button">
                            <i class="fa fa-calendar"></i>
                        </button>
                </div>

            </div>
          </div>

          <div class="row">
              <div class="col-md-6 mb-3">
                  <label>Teléfono</label>
                  <input type="text" class="form-control" [(ngModel)]="artista.telefono" mask="+00 (0000) 0000000" placeholder="+54 (0341) 5325144" >
              </div>
              <div class="col-md-6 mb-3 form-group">
                  <label>E-Mail</label>
                  <input id="email" required name="email" email #email="ngModel" [(ngModel)]="artista.email" type="text" class="form-control mb-2" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\\.[a-z]{2,4}$">
                  <span class="ml-1 help-block text-danger" *ngIf="email.errors.required && email.touched">
                      El E-Mail es requerido.
                  </span>
                  <span class="ml-1 help-block text-danger" *ngIf="email.errors.email && email.touched">
                      El E-Mail es incorrecto.
                  </span>
              </div>
          </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Password</label>
                    <show-hide-password  btnStyle="primary" [btnOutline]="false">
                        <input type="password" class="form-control" [(ngModel)]="artista.password">
                    </show-hide-password>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Repetir Password</label>
                    <show-hide-password  btnStyle="primary" [btnOutline]="false">
                        <input type="password" class="form-control" [(ngModel)]="re_password">
                    </show-hide-password>
                </div>
            </div>


            <h2>Ubicación</h2>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Calle</label>
                    <input maxlength="50" type="text" class="form-control" [(ngModel)]="artista.direccion.calle">
                </div>
                <div class="col-md-3 mb-3">
                    <label>Número</label>
                    <input maxlength="10" type="text" class="form-control" [(ngModel)]="artista.direccion.numero">
                </div>
                <div class="col-md-3 mb-3">
                    <label>C.P.</label>
                    <input maxlength="10" type="text" class="form-control" [(ngModel)]="artista.direccion.cp">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Provincia</label>
                    <ng-select [(ngModel)]="artista.direccion.provincia_id" class="custom" [multiple]="false" [addTag]="false" (change)="getLocalidades()">
                        <ng-option *ngFor="let p of provincias_list" [value]="p.id">{{p.nombre}}</ng-option>
                    </ng-select>
                </div>
                <div class="col-md-6 mb-3">
                    <label>Localidad</label>
                    <ng-select [(ngModel)]="artista.direccion.localidad_id" class="custom" [multiple]="false" [addTag]="false" >
                        <ng-option *ngFor="let l of localidades_list" [value]="l.id">{{l.nombre}}</ng-option>
                    </ng-select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <p>
                        Para ubicarte en el mapa, necesitamos que ingreses tu dirección <a target="_blank" href="https://www.mapcoordinates.net/es">acá</a> y copies las coordenadas debajo. También podes obtener directamente la ubicación de tu computadora presionando <strong>"Obtener Ubicación"</strong>. Esto no implica ningún seguimiento de tu localización.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-md-4 col-lg-3 mb-3">
                    <label>Latitud</label>
                    <input type="number" maxlength="11" class="form-control" [(ngModel)]="artista.direccion.lat">
                </div>
                <div class="col-6 col-md-4 col-lg-3 mb-3">
                    <label>Longitud</label>
                    <input type="number" maxlength="11" class="form-control" [(ngModel)]="artista.direccion.lon">
                </div>
                <div class="col-6 col-md-4 col-lg-3 d-flex align-items-end mb-3">
                  <button class="btn btn-primary btn-rounded" (click)="getLocation()">Obtener Ubicación</button>
                </div>
            </div>

            <h2>Sobre mí</h2>
            <div class="row mb-4">
                <div class="col-md-12">
                    <label>Imágenes del perfil</label>
                    <div class="spinner-border text-primary" role="status" *ngIf="uploading" style="position: absolute; top: 50%; left: 50%;">
                      <span class="sr-only">Loading...</span>
                    </div>
                    <div class="row">
                      <div class="col-md-6">

                          <ngb-carousel alt="Preview" class="d-block" style="min-height: 350px; background-color: rgb(200, 200, 200); text-align: center; display: table-cell; vertical-align: middle;">
                              <ng-template ngbSlide *ngFor="let imagen of images" >
                                  <img [src]="imagen" class="w-100">
                              </ng-template>
                          </ngb-carousel>
                          <div class="d-flex w-100 align-items-center justify-content-between mt-2">
                            <input type="file" #fileUpload id="fileUpload" accept="image/png, image/jpeg" (change)="fileChangeEvent($event)" />
                            <label for="fileUpload" id="fileUpload" class="btn btn-primary mb-0 btn-rounded">Seleccionar Imágen</label>
                            <button class="btn btn-danger btn-rounded" (click)="deleteFiles()" >Borrar todo</button>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="row mb-3">
                              <div class="col-md-12">

                                <image-cropper
                                  [imageChangedEvent]="imageChangedEvent"
                                  [maintainAspectRatio]="true"
                                  [aspectRatio]="1 / 1"
                                  format="jpg"
                                  (imageCropped)="imageCropped($event)"
                                  (imageLoaded)="imageLoaded()"
                                  (cropperReady)="cropperReady()"
                                  (loadImageFailed)="loadImageFailed()"
                                ></image-cropper>

                                <button *ngIf="croppedImage" class="btn btn-primary mt-2 mx-2 btn-rounded" (click)="addImage(croppedImage)">Agregar</button>
                              </div>
                          </div>
                      </div>
                    </div>
                  </div>
              </div>

            <div class="row mb-3">
              <div class="col-md-12">
                <label>Biografía (Contanos tu experiencia de forma resumida. Máximo 600 caracteres. Debajo podés adjuntar tu curriculum si querés extenderte.)</label>
                <textarea type="text" class="form-control" [(ngModel)]="artista.biografia" rows="16" maxlength="600"></textarea>
              </div>
            </div>

            <div class="row">
                <div class="col-md-12 mb-3">
                    <label>Seleccionar Idiomas</label>
                    <ng-select [(ngModel)]="artista.idiomas" class="custom" [multiple]="true">
                        <ng-option *ngFor="let idioma of idiomas_list" [value]="idioma">{{idioma.nombre}}</ng-option>
                    </ng-select>
                </div>

                <div class="col-md-12 mb-3">
                    <div class="row">
                      <div class="col-md-12">
                        <label>Curriculum Vitae / Portfolio</label>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <input [(ngModel)]="artista.curriculum" class="" type="file" id="cvUpload" #cvUpload accept=".xlsx,.xls,.pdf" (change)="changeCVFile(cvUpload)">
                            <label for="cvUpload" class="btn btn-primary btn-rounded" style="margin: 0px;">Subir Curriculum Vitae</label>
                            <button class="btn btn-danger ml-3 btn-rounded" (click)="deleteCVFile()" >Borrar</button>
                            <label class="mt-3">{{artista.curriculum}}</label>
                        </div>
                        <div class="col-md-1">
                            <div class="spinner-border text-primary" role="status" *ngIf="uploadingCV">
                                <span class="sr-only">Loading...</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-12">
                    <label>Seleccionar Etiquetas</label>
                    <ng-select [(ngModel)]="tags" class="custom" [multiple]="true" [addTag]="true" (change)="changeTags($event)">
                        <ng-option *ngFor="let t of tags_list" [value]="t">{{t.nombre}}</ng-option>
                    </ng-select>
                </div>
            </div>

            <div class="mb-3">
                <h2 class="mb-2">Redes sociales / Sitios personales <i class="fa fa-info-circle ml-3" placement="right" ngbTooltip="No es necesario cargar todos." tooltipClass="my-tooltip"></i></h2>
                <div class="row mb-3 d-none">
                    <div class="col-md-4">
                        <label>Plataforma</label>
                    </div>
                    <div class="col-md-6">
                        <label>URL o Link</label>
                    </div>
                    <div class="col-md-2">
                    </div>
                </div>
                <div class="form-row mb-3">
                  <div class="col-5 col-md-4">
                      <ng-select [(ngModel)]="red" class="custom" [multiple]="false" [addTag]="false" placeholder="Seleccione plataforma">
                          <ng-option selected disabled>Seleccione plataforma</ng-option>
                          <ng-option *ngFor="let r of redes_list" [value]="r">{{r.nombre}}</ng-option>
                      </ng-select>
                  </div>
                  <div class="col-6 col-md-6">
                      <input type="text" class="form-control" placeholder="URL o Link" [(ngModel)]="url_red" required>
                  </div>
                  <div class="col-1 col-md-2">
                      <button class="btn btn-primary btn-rounded" (click)="addRedSocial()"><i class="fa fa-plus"></i></button>
                  </div>
              </div>
                <div class="form-row mb-3" *ngFor="let r of artista.redes">
                    <div class="col-4 col-md-4 d-flex align-items-center">
                        <strong>{{ r.nombre }}</strong>
                    </div>
                    <div class="col-6 col-md-6 d-flex align-items-center">
                        <a [href]="r.url" target="_blank">{{r.url}}</a>
                    </div>
                    <div class="col-2 col-md-2">
                        <button class="btn btn-primary btn-rounded" (click)="removeRedSocial(r)"><i class="fa fa-minus"></i></button>
                    </div>
                </div>


            </div>

            <!--
            <div class="form-row mb-3">
                <div class="col-md-12">
                  <label>Rol</label>
                  <textarea type="text" class="form-control" [(ngModel)]="artista.rol" rows="4" ></textarea>
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col-md-12">
                  <label>URL del Reel de YouTube</label>
                  <input type="text" class="form-control" [(ngModel)]="artista.reel">
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col-md-12">
                  <label>URL de la Galería de Fotos</label>
                  <input type="text" class="form-control" [(ngModel)]="artista.galeria">
                </div>
            </div>
            -->
            <div class="w-100 d-flex align-items-center justify-content-center" *ngIf="uploading">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>

            </div>
        </div>

        <div class="card-footer">
            <button class="btn btn-danger ml-3 float-right btn-rounded" (click)="goToHome()">Cancelar</button>
            <button class="btn btn-primary float-right btn-rounded" (click)="registrar()">Registrarse</button>
        </div>
      </div>
    </div>
</div>
